.about {
    min-height: var(--content-min-height)
}

.content {
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.header {
    font-size: var(--fs-title);
    width: 100%;
    height: fit-content;
    font-weight: var(--fw-bold);
    margin-bottom: 20px;
}

.midheader {
    font-size: var(--fs-heading);
    width: 100%;
    height: fit-content;
    font-weight: var(--fw-bold);
}

.subheader {
    font-size: var(--fs-subtitle);
    width: 100%;
    height: fit-content;
}

.subheader b {
    font-weight: var(--fw-bold);
}

.body {
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: var(--fs-body);
}

.left {
    width: 25%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

.right {
    width: 72%;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
}

.education {
    height: auto;
    margin: 0;
    margin-top: 1rem;
    line-height: 1rem;
}

.profilePic {
    margin-right: 1rem;
    width: 100%;
    border-radius: var(--border-radius);
}

.photoCredit{
    margin-top: .25rem;
    font-size: var(--fs-meta);
    color: var(--end-green);
    width: 100%;
}

@media only screen and (max-width: 950px) {
    .content {
        padding: 1.5rem;
        padding-top: 0;
    }

    .left {
        width: 100%;
        margin: 0;
    }

    .right {
        width: 100%;
    }

    .education {
        margin-top: 1rem;
    }

    .header {
        font-size: 2rem;
    }

    .midheader {
        margin-top: 1rem;
        margin-bottom: 1rem;
       font-size: 1.5rem; 
    }

    .subheader {
       font-size: 1.25rem;  
    }

    .profilePic {
        width: 90% !important;
        margin: 0;
        margin: auto;
    }
    .photoCredit{
        margin-left: 5%;;
    }
}