.page {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    animation-name: appear;
    animation-duration: 1s;
    min-height: var(--content-min-height)
}


.image {
    width: 20%;
    border-radius: 12px;
}

.header {
    font-size: 3rem;
    width: 100%;
    height: fit-content;
    font-weight: 500;
    margin-top: -20px;
}

.subheader {
    font-size: 1.5rem;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.body {
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    background-color: #60887B;
    border-radius: 10px;
    padding: 3rem;
}

.topContainer {
    display: flex;
    align-items: center;
}

.bulletContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bullet {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.containerHeader {
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 500;
}

.top {
    width: 80%;
    padding-top: 10px;
}

.leftSchwab {
    width: 20%;
    padding-right: 10px;
}

.rightSchwab {
    width: 80%;
    padding-right: 10px;
}

.bottom {
    margin-top: 1rem;
}

.linkButton {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2rem;
    background-color: var(--green);
    border-radius: 20px;
    transition: background-color .3s;
}

.linkButton:hover {
    background-color: black;
}

@media only screen and (max-width: 950px) {
    .page {
        width: 90%;
    }

    .container {
        padding: 1rem;
    }

    .containerHeader {
        font-size: 1.5rem;
        text-align: center;
    }

    .leftSchwab {
        width: 100%;
    }

    .rightSchwab {
        width: 100%;
    }

    .subheader {
        font-size: 1.25rem;
    }

    .image {
        width: 100%;
    }

    .topContainer {
        flex-wrap: wrap;
    }
}