.contactForm {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contact {
    margin-bottom: 100px;
}

.body {
    width: 550px;
    margin: auto;
    text-align: center;
}

.messageLabel {
    font-size: 1.5rem;
    width: 550px;
}

.contactField {
    width: 550px;
    margin: 20px;
    height: 50px;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: var(--white);
}

.contactDropdown {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    margin: 20px;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    border: none;
}

.dropdownCheckbox {
    width: 80%;
    margin-top: 10px;
    justify-content: center;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    flex-wrap: nowrap;

}

.actualCheckbox {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    flex-shrink: 0;
    accent-color: var(--green)
}

.contactMessage {
    width: 550px;
    margin: 20px;
    height: 250px;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: var(--white);
}

.contactButton {
    width: 300px;
    margin: 20px;
    height: 50px;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: var(--end-green);
    transition: background-color .3s;
}

.contactButton:hover {
    background-color: white;
}

.header {
    font-size: 3rem;
    width: 100%;
    height: fit-content;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}

.subheader {
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

.status {
    width: 100vw;
    text-align: center;
}

@media only screen and (max-width: 950px) {
    .contactForm {
        width: 100vw;
        margin-bottom: 50px;
    }

    .contactField {
        width: 100%;
        font-size: 16px;
        font-family: var(--font-sukhumvitSet);
    }

    .contactDropdown {
        width: 100%;
        font-size: 16px;
        font-family: var(--font-sukhumvitSet);
    }

    .contactMessage {
        width: 100%;
        font-size: 16px;
        font-family: var(--font-sukhumvitSet);
    }

    .contactButton {
        width: 500px;
        margin: 20px;
        height: 50px;
        border-radius: 12px;
        padding: 10px;
        font-size: 20px;
        border: none;
        background-color: var(--end-green);
        transition: background-color .3s;
        font-family: var(--font-sukhumvitSet);
    }

    .contactButton:hover {
        background-color: white;
    }

    .header {
        font-size: 2.5rem;
    }

    .status {
        font-size: 16px;
        font-family: var(--font-sukhumvitSet);
        margin-left: 20px;
        margin-right: 20px;
    }

    .body {
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
    }

    .messageLabel {
        font-size: 1.25rem;
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
    }

    .subheader {
        padding-left: 20px;
        padding-right: 20px;
    }

    .dropdownCheckbox {
        margin-bottom: 5px;
    }
}