.disclaimer {
    width: 70%;
    margin: auto;
    padding-top: 4rem;
    text-align: center;
    animation-name: appear;
    animation-duration: 1s;
    min-height: var(--content-min-height)
}

.body {
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: var(--fs-body);
}

.header{
    font-size: var(--fs-subtitle);
    width: 100%;
    height: fit-content;
    font-weight: var(--fw-bold);
}

@keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }