.home {
  min-height: var(--content-min-height)
}

.content {
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header {
  font-size: var(--fs-title);
  line-height: 1.1;
  width: 100vw;
  height: fit-content;
  font-weight: var(--fw-bold);
}

.subheader {
  font-size: var(--fs-subtitle);
  width: 100vw;
  height: fit-content;
  font-weight: var(--fw-light);
  margin-top: 1rem;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 1rem;
  margin-top: 1rem;
}

.bodyText {
  width: 60%;
  margin-right: 1rem;
  font-size: var(--fs-lead);
  line-height: 1.6;
}

.bodyImage {
  width: 35% !important;
  border-radius: 10px;
}

.whyChooseUsHeader {
  font-size: var(--fs-heading);
  width: 100vw;
  height: fit-content;
  font-weight: var(--fw-bold);
}

.whyChooseUs {
  padding-top: 1rem;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  font-weight: var(--fw-bold);
}

.reason {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: var(--green);
  border-radius: 10px;
  padding: 1rem;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.reasonHeader {
  font-size: var(--fs-card-title);
  font-weight: var(--fw-bold);
  width: 100%;
}

.reasonBody {
  width: 100%;
  font-weight: var(--fw-body);
  font-size: var(--fs-body);
}

.button {
  font-weight: var(--fw-bold);
  color: var(--green);
  background: var(--white);
  padding: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: var(--fs-card-title);
  border-radius: 10px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  transition: background 0.3s, color 0.3s;
}

.button:hover {
  background: var(--green);
  color: var(--white);
}

.button:active {
  background: #142e27;
  color: var(--white);
}

@media only screen and (max-width: 950px) {
  .content {
    padding: 1.25rem;
  }

  .header {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .subheader {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .body {
    justify-content: center;
    text-align: left;
    padding: 0;
    flex-wrap: wrap-reverse;
    margin-top: 1rem;
  }

  .bodyImage {
    width: 100% !important;
  }

  .bodyText {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .whyChooseUsHeader {
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  .whyChooseUs {
    padding-top: 0;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .reason {
    flex: none;
    margin: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
}