.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--white);
    color: black;
    padding-right: max((calc(100vw - 1500px))/2, 1rem);
    padding-left: max((calc(100vw - 1500px))/2, 1rem);
}

.right {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link {
    margin-left: 2rem;
    text-align: right;
    font-family: var(--font-stereogothic);
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: background 0.3s, color 0.3s;
}

.contact {
    border: solid 1px var(--green);
    color: var(--green);
}

.link:hover {
    background: rgb(114, 145, 129);
    color: var(--white)
}

.active {
    background: rgb(28, 28, 28);
    color: var(--white)
}

.logo {
    width: 200px !important;
    margin-left: 0;
    margin-right: auto;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {

    .logo {
        margin: auto;
        cursor: pointer;
    }

    .mobileHeader {
        display: flex;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: none;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        padding: 1rem;
        padding-left: 1.15rem;
        padding-right: 1.4rem;
    }

    .navbar {
        flex-wrap: wrap;
        height: 82px;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0;
        background: none;
    }

    .dropDown {
        width: 100vw;
        display: flex;
        align-items: space-around;
        height: calc( 100vh - 82px);
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: opacity .4s ease;
        background: none;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        opacity: 1;
    }

    .link {
        width: 80%;
        margin: .5rem;
        text-align: center;
        justify-content: center;
        color: var(--white)
    }

    .none {
        opacity: 0;
        pointer-events: none;
        z-index: -1000 !important;
    }
}