.services {
    min-height: var(--content-min-height)
}

.content {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    margin: auto;
}

.header {
    font-size: 2.25rem;
    width: 100%;
    font-weight: 500;
}

.subheader {
    font-size: 1.75rem;
    width: 100%;
    font-weight: 500;
}

.body {
    padding-bottom: 2rem;
    font-size: 1.2rem;
    width: 100%;
}

.whoWeServeBody{
    padding-bottom: 2rem;
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    
}

.disclaimer {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-style: italic;
}

.finPlan {
    padding-bottom: 0 !important;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.card {
    width: 16rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 400; 
    border-radius: var(--border-radius);
    text-align: center;
    background-color: var(--green);
    margin: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.cardHeader {
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 400; 
}

@media only screen and (max-width: 950px) {
    .subheader {
        line-height: 2.2rem;
    }
    .card {
        text-align: center;
        padding: 0;
        margin: .25rem
    }
    .bodyGraphic {
        margin-top: 1rem;
    }
}